[submodule "curryful-bachelor-thesis-curryful-todo-list-preview-features"]
	path = curryful-bachelor-thesis-curryful-todo-list-preview-features
	url = git@github.com:lerchl/curryful-bachelor-thesis-curryful-todo-list-preview-features.git
	branch = main
[submodule "curryful-bachelor-thesis-spring-boot-todo-list"]
	path = curryful-bachelor-thesis-spring-boot-todo-list
	url = git@github.com:lerchl/curryful-bachelor-thesis-spring-boot-todo-list.git
	branch = main
[submodule "curryful-bachelor-thesis-curryful-todo-list"]
	path = curryful-bachelor-thesis-curryful-todo-list
	url = git@github.com:lerchl/curryful-bachelor-thesis-curryful-todo-list.git
	branch = main
